* {
    margin: 0 auto;
    padding: 0;
}
ul,ol {
    list-style-type:none;
}
b,i,dfn {
    font-style:normal;
    font-weight:normal;
}
a {
    color: #666;
}
a:hover {
    text-decoration: none;
    color: #333;
}